<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <header>
    <h1>~* Music App *~</h1>
  </header>


  <body>
    <section class="loginout-buttons">
      <% if logged_in? %>
        <%= button_to "Logout", session_url, method: :delete %>
      <% else %>
        <%= debugger %>
        <%= button_to "Login", session_url, method: :post %>
        <%= button_to "Signup and give us your data to sell >;)", new_user_url, method: :get %>
        <%= debugger %>
      <% end %>
    </section>
    <%= yield %>
  </body>
</html>
